.who-we-are {
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 50px;
    color: $gray-color;
    margin-bottom: 100px;
  }
}

.who-we-are-content {
  display: flex;
  text-align: left;
  margin-bottom: 100px;

  &__video {
    margin-right: 120px;
  }
}
.who-we-are-content-text-column {
  &__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $gray-color;
    margin-bottom: 50px;
  }
}

.who-we-are-content-text-preferences {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    margin-bottom: 30px;
  }

  &__icon {
    margin-right: 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $gray-color;
  }
}
